.pic1{
    width: 32px;
    height: 32px;
}
.last{
    background-color:#1A1A1A;
}
.a1{
    text-decoration: none;
}
.pic2{
    width: 24px;
height: 24px;

}
.a4{
    color: green;
}
.row6{
    background-color: #1A1A1A;
}
.row5{
    background: #F7F7F7;
}
.row7{
    background-color: #1A1A1A;
}